<!DOCTYPE html>
<html lang="es_mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyectos</title>
</head> 
<link rel="stylesheet" href="/css/style.css">
<body>
    <div class="container mt-5">
    <h1>Tus Proyectos</h1>

    <ul>
        <% if (Array.isArray(projects) && projects.length > 0) { %>
            <% projects.forEach(project => { %>
                <li>
                    <h3><a href="/project/<%= project._id %>"><%= project.name %></a></h3>
                    <p><%= project.description ? project.description : ' ' %></p>
                    <p>Fecha de Inicio: <%= new Date(project.startDate).toISOString().split('T')[0] %></p>
                    <p>Fecha de Cierre: <%= new Date(project.endDate).toISOString().split('T')[0] %></p>

                    
                    <!-- Muestra el boton de eliminar solo cuando eres el administrador -->
                    <% if (project.administrator.toString() === userId.toString()) { %>
                        <form action="/project/edit/<%= project._id %>" method="get" style="display: inline;">
                            <button type="submit">Modificar</button>
                        </form>
                        <form action="/deleteProject" method="POST" style="display: inline;">
                            <input type="hidden" name="userId" value="<%= userId %>">
                            <input type="hidden" name="projectId" value="<%= project._id %>">
                            <button type="submit">Eliminar</button>
                        </form>
                    <% } %>
                </li>
            <% }) %>
        <% } else { %>
            <li>No hay proyectos disponibles.</li>
        <% } %>        
    </ul>

    <br><br>

    <form action="/createprojects" method="get" style="display: inline;">
        <input type="hidden" name="userId" value="<%= userId %>">
        <button type="submit">Crear proyecto</button>
    </form>
    
    <br><br>

    <form action="/changeuser" method="get" style="display: inline;">
        <button type="submit">Reestablecer nombre de usuario</button>
    </form>

    <form action="/changepwd" method="get" style="display: inline;">
        <button type="submit">Reestablecer contraseña</button>
    </form>

    <form action="/delete" method="get" style="display: inline">
        <button type="submit">Eliminar cuenta</button>
    </form>

    <br><br>
    
    <form action="/logout" method="get" style="display: inline;">
        <button type="submit">Cerrar sesión</button>
    </form>

</body>
</html>
