<!DOCTYPE html>
<html lang="es_mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tareas de <%= project.name %></title>
</head> 
<body>
    <h1>Tareas del Proyecto: <%= project.name %></h1>

    <% if (tasks.length > 0) { %>
        <ul>
            <% tasks.forEach(function(task) { %>
                <li>
                    <strong>Nombre:</strong> <%= task.name %><br>
                    <strong>Descripcion:</strong> <%= task.description %><br>
                    <strong>Prioridad:</strong> <%= task.priority %><br>
                    <strong>Progreso:</strong> <%= task.progress %><br>
                    <strong>Fecha de Inicio:</strong> <%= new Date(task.startDate).toISOString().split('T')[0] %></p>
                    <strong>Fecha de Cierre:</strong> <%= new Date(task.endDate).toISOString().split('T')[0] %></p>
                    <strong>Estimación de Tiempo:</strong> <%= task.timeEstimation %> hours<br>
                    <strong>Comentarios:</strong> <%= task.comments || 'N/A' %><br>
                    <strong>Encargado:</strong> 
                    <% if (task.users && task.users.length > 0) { %>
                        <%= task.users.map(user => user.username).join(', ') %>
                    <% } else { %>
                        N/A
                    <% } %>
                    <br>
                    <br>
                    <form action="/task/edit/<%= task._id %>" method="get" style="display: inline;">
                        <input type="hidden" name="projectId" value="<%= project._id %>">
                        <button type="submit">Modificar Tarea</button>
                    </form>
                    <!-- Botones para modificar, eliminar y agregar miembror -->
                    <% if (project.administrator.toString() === userId.toString()) { %>
                        <form action="/task/delete/<%= task._id %>" method="post" style="display: inline;">
                            <input type="hidden" name="projectId" value="<%= project._id %>">
                            <button type="submit">Eliminar Tarea</button>
                        </form>
                        <form action="/task/addMember/<%= task._id %>" method="get" style="display: inline;">
                            <input type="hidden" name="projectId" value="<%= project._id %>">
                            <button type="submit">Agregar Miembro a Tarea</button>
                        </form>                       
                    <% } %>
                </li>
                <hr>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No hay Tareas disponibles.</p>
    <% } %>

    <!-- Botones de Navegación -->
    <form action="/createTask/<%= project._id %>" method="get" style="display: inline;">
        <button type="submit">Crear Tarea</button>
    </form>

    <% if (project.administrator.toString() === userId.toString()) { %>
        
        <br>
        <br>

        <form action="/addMember/<%= project._id %>" method="get" style="display: inline;">
            <button type="submit">Agregar Miembro</button>
        </form>
    <% } %>


    <br>
    <br>

    <form action="/proyects" method="get" style="display: inline;">
        <button type="submit">Regresar a Proyectos</button>
    </form>
</body>
</html>

